{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Wanna ask me ?</h5>
    <div class="card-body">
        <p class="card-text"> I'm always open to talk about technical and non-technical things.</p>
        <a href="https://www.linkedin.com/in/ilkhom-sidikov/"
           class="btn btn-danger">Contacts</a>
    </div>
</div>
</div>

{% endblock sidebar %}